{% extends "layout.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block meta_description %}{{meta_description}}{% endblock %}
{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}
{% block canonical %}{% url 'about-us' %}{% endblock %}
{% block social_title %}{{social_title}}{% endblock %}
{% block social_description %}{{social_description}}{% endblock %}
{% block social_url %}{% url 'about-us' %}{% endblock %}
{% block site_site_name %}{{site}}{% endblock %}
{% block modified_time %}{% endblock %}
{% block social_img %}{{image}}{% endblock %}
{% block twitter_title %}{{title}}{% endblock %}
{% block twitter_description %}{{social_description}}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
    <h1>About Us</h1>

{% endblock %}