{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block meta_description %}descripción{% endblock %}
{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}
{% block canonical %}/{% endblock %}
{% block social_title %}Titulo{% endblock %}
{% block social_description %}descripción{% endblock %}
{% block social_url %}/{% endblock %}
{% block site_site_name %}site{% endblock %}
{% block modified_time %}{% endblock %}
{% block social_img %}{% endblock %}
{% block twitter_title %}Titulo{% endblock %}
{% block twitter_description %}descripción{% endblock %}
{% block twitter_image %}{% endblock %}

{% block css %}
{% endblock %}
{% block content %}
    <h1>HELLO WORLD</h1>
{% endblock %}