{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block meta_description %}descripción{% endblock %}
{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}
{% block canonical %}/{% endblock %}
{% block social_title %}Titulo{% endblock %}
{% block social_description %}descripción{% endblock %}
{% block social_url %}/{% endblock %}
{% block site_site_name %}site{% endblock %}
{% block modified_time %}{% endblock %}
{% block social_img %}{% endblock %}
{% block twitter_title %}Titulo{% endblock %}
{% block twitter_description %}descripción{% endblock %}
{% block twitter_image %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <h1>HELLO WORLD</h1>

    <section id="category1" class="category">
        <h2>Category 1</h2>
        <!-- Contenido de la Category 1 -->
    </section>

    <section id="category2" class="category">
        <h2>Category 2</h2>
        <!-- Contenido de la Category 2 -->
    </section>

    <section id="category3" class="category">
        <h2>Category 3</h2>
        <!-- Contenido de la Category 3 -->
    </section>

    <section id="category4" class="category">
        <h2>Category 4</h2>
        <!-- Contenido de la Category 4 -->
    </section>

    <section id="category5" class="category">
        <h2>Category 5</h2>
        <!-- Contenido de la Category 5 -->
    </section>

    <section id="category6" class="category">
        <h2>Category 6</h2>
        <!-- Contenido de la Category 6 -->
    </section>

{% endblock %}