/* category styles */
.category {
    width: calc(33.33% - 20px); /* Aproximadamente 33.33% de ancho con un pequeño espacio entre las categorías */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    box-sizing: border-box;
}

/* Limpiar el float para cada tercer elemento (creará una nueva fila) */
.category:nth-child(3n+1) {
    clear: left;
}

/* Estilos adicionales para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}