body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* NAV */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}