{% extends "layout.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block meta_description %}{{meta_description}}{% endblock %}
{% block meta_robots %}index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1{% endblock %}
{% block canonical %}{% url 'category-2' %}{% endblock %}
{% block social_title %}{{social_title}}{% endblock %}
{% block social_description %}{{social_description}}{% endblock %}
{% block social_url %}{% url 'category-2' %}{% endblock %}
{% block site_site_name %}{{site}}{% endblock %}
{% block modified_time %}{% endblock %}
{% block social_img %}{{image}}{% endblock %}
{% block twitter_title %}{{title}}{% endblock %}
{% block twitter_description %}{{social_description}}{% endblock %}
{% block twitter_image %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cluster.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
{% endblock %}
{% block content %}
    <h1>Category 2</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem unde voluptas veritatis omnis! Soluta voluptatibus nisi ipsam odio vero quod autem, nobis aut reiciendis atque fugit repellendus excepturi ab deserunt omnis sint provident sunt facere nesciunt aliquid enim architecto iure expedita. Laudantium quaerat earum quibusdam sit iure ipsam numquam tempore officia labore, veritatis debitis cumque culpa sequi adipisci voluptates illum. Officia ipsam dolores unde commodi officiis dolore quasi quam, nihil incidunt veritatis. In soluta nulla non quasi ipsam quod blanditiis?
    </p>

    <h2>Sub-categories</h2>

    <div class="cluster">
        <section id="category_1" class="category">
            <a href="{% url 'subcategory-2.1' %}" class="link_category">
                <h3>sub-category 1</h3>
                <p>Category description. lorem Lorem, ipsum dolor.</p>
            </a>
        </section>
    
        <section id="category_2" class="category">
            <a href="{% url 'subcategory-2.2' %}" class="link_category">
                <h3>sub-ategory 2</h3>
                <p>Category description. Lorem ipsum dolor sit.</p>
            </a>
        </section>
    
        <section id="category_3" class="category">
            <a href="#" class="link_category">
                <h3>sub-category 3</h3>
                <p>Category description. Lorem ipsum dolor sit amet consectetur.</p>
            </a>
        </section>

    </div>

    <h2>top products</h2>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure veritatis fugiat ex, dolore, facere iste nisi voluptatibus tempora officia et perspiciatis magni hic saepe sapiente possimus modi molestiae fugit similique sunt, necessitatibus odit! Quod quos, sit provident porro quisquam expedita ut, corporis, nobis est ex voluptates sapiente vero beatae eum accusamus architecto. Ipsum, iure voluptate. Dicta, corrupti modi! Ea nobis velit delectus suscipit. Provident dolores nihil sit illum itaque laudantium? Laudantium inventore delectus veritatis minima incidunt molestias quasi aliquid vero ea asperiores, cumque voluptatem quis laborum quidem excepturi facere consequuntur.
    </p>

    <div class="container-table">

        <div class="table">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                Lorem ipsum dolor sit amet.
                </a>
            </h4>

            <div class="img">
                <img loading="lazy" src="/media/main/no-fotos.png" alt="">
            </div>
            <p>Características:</p>
            <ul>
                <li>
                    <b>Conector:</b> <i></i>
                </li>
                <li>
                    <b>Potencia:</b> <i></i>
                </li>
                <li>
                    <b>Intencidad:</b> <i></i>
                </li>
                <li>
                    <b>Voltaje:</b> <i></i>
                </li>
                <li>
                    <b>Corriente:</b> <i></i>
                </li>
                <li>
                    <b>Cable:</b> <i></i>
                </li>
            </ul>
            <div class="price">
                <span>99 € <sup><del>150 €</del></sup></span>
            </div>
            <hr>
            <br>
            <div class="link_table">
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="table_button">Mas detalles</a>
            </div>
        </div>
            
        <div class="table">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                Lorem, ipsum dolor.
                </a>
            </h4>

            <div class="img">
                <img loading="lazy" src="/media/main/no-fotos.png" alt="">
            </div>
            <p>Características:</p>
            <ul>
                <li>
                    <b>Conector:</b> <i></i>
                </li>
                <li>
                    <b>Potencia:</b> <i></i>
                </li>
                <li>
                    <b>Intencidad:</b> <i></i>
                </li>
                <li>
                    <b>Voltaje:</b> <i></i>
                </li>
                <li>
                    <b>Corriente:</b> <i></i>
                </li>
                <li>
                    <b>Cable:</b> <i></i>
                </li>
            </ul>
            <div class="price">
                <span>99 € <sup><del>150 €</del></sup></span>
            </div>
            <hr>
            <br>
            <div class="link_table">
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="table_button">Mas detalles</a>
            </div>
        </div>

        <div class="table">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                Lorem ipsum dolor sit amet consectetur.
                </a>
            </h4>

            <div class="img">
                <img loading="lazy" src="/media/main/no-fotos.png" alt="">
            </div>
            <p>Características:</p>
            <ul>
                <li>
                    <b>Conector:</b> <i></i>
                </li>
                <li>
                    <b>Potencia:</b> <i></i>
                </li>
                <li>
                    <b>Intencidad:</b> <i></i>
                </li>
                <li>
                    <b>Voltaje:</b> <i></i>
                </li>
                <li>
                    <b>Corriente:</b> <i></i>
                </li>
                <li>
                    <b>Cable:</b> <i></i>
                </li>
            </ul>
            <div class="price">
                <span>999 € <sup><del>150 €</del></sup></span>
            </div>
            <hr>
            <br>
            <div class="link_table">
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="table_button">Mas detalles</a>
            </div>
        </div>

        <div class="table">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                Lorem, ipsum dolor sit amet consectetur adipisicing.
                </a>
            </h4>

            <div class="img">
                <img loading="lazy" src="/media/main/no-fotos.png" alt="">
            </div>
            <p>Características:</p>
            <ul>
                <li>
                    <b>Conector:</b> <i></i>
                </li>
                <li>
                    <b>Potencia:</b> <i></i>
                </li>
                <li>
                    <b>Intencidad:</b> <i></i>
                </li>
                <li>
                    <b>Voltaje:</b> <i></i>
                </li>
                <li>
                    <b>Corriente:</b> <i></i>
                </li>
                <li>
                    <b>Cable:</b> <i></i>
                </li>
            </ul>
            <div class="price">
                <span>1000 € <sup><del>150 €</del></sup></span>
            </div>
            <hr>
            <br>
            <div class="link_table">
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="table_button">Mas detalles</a>
            </div>
        </div>
        
    </div>

    <h2>top product #1</h2>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur delectus natus iure inventore hic a ipsa alias fuga harum nisi soluta sit, sunt at ducimus, optio earum nemo in. Repudiandae ad culpa perferendis ab repellendus eos magnam aliquam nobis ratione eum placeat, ipsam vitae nostrum, iusto natus molestias officiis incidunt. Amet id nostrum incidunt ea dolores odit sapiente voluptate maxime soluta laboriosam officia ut omnis beatae quas obcaecati non repellendus, quo assumenda, nobis cum rem fugit delectus quam ipsa. Modi omnis ullam molestiae dolor magnam incidunt labore ad reprehenderit doloribus quod totam aliquam hic commodi, animi, numquam blanditiis. Velit, reiciendis!
    </p>

    <div class="products-card">
            
        <div class="img">
            <img loading="lazy" src="/media/main/no-fotos.png" alt="">
        </div>
        
        <div class="description">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                product
                </a>
            </h4>

            <p>Características técnicas del cargador:</p>

            <ul>
                
                <li><b>Tensión:</b> Lorem, ipsum dolor.</li>
            
                <li><b>Potencia:</b> Lorem ipsum dolor sit.</li>
            
                <li><b>Intensidad:</b> Lorem, ipsum.</li>
            
                <li><b>Corriente:</b> Lorem ipsum dolor sit amet.</li>
            
                <li><b>Conector de carga disponible:</b> Lorem ipsum dolor sit amet consectetur.</li>
            
                <li><b>Largo del cable:</b> Lorem, ipsum dolor.</li>
                
            </ul>

            <div class="price">

                <div>
                    <span>150.50 € <sup><del>299.99 €</del></sup></span>
                </div>
                <br>
                <div>
                    <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="card_button">Mas detalles</a>
                </div>

            </div>
        </div>
    </div>

    <h2>top product #2</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum odit aut laborum iste molestias, reprehenderit tempora ipsam blanditiis vitae quaerat sequi libero non quisquam quos explicabo dolorem officiis ratione perferendis? Voluptatum atque ad tempora quod alias ut natus illo voluptas tempore, beatae, molestias non itaque. Consequatur a ullam officia?
    </p>

    <div class="products-card">
            
        <div class="img">
            <img loading="lazy" src="/media/main/no-fotos.png" alt="">
        </div>
        
        <div class="description">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                product
                </a>
            </h4>

            <p>Características técnicas del cargador:</p>

            <ul>
                
                <li><b>Tensión:</b> Lorem, ipsum dolor.</li>
            
                <li><b>Potencia:</b> Lorem ipsum dolor sit.</li>
            
                <li><b>Intensidad:</b> Lorem, ipsum.</li>
            
                <li><b>Corriente:</b> Lorem ipsum dolor sit amet.</li>
            
                <li><b>Conector de carga disponible:</b> Lorem ipsum dolor sit amet consectetur.</li>
            
                <li><b>Largo del cable:</b> Lorem, ipsum dolor.</li>
                
            </ul>

            <div class="price">

                <div>
                    <span>150.50 € <sup><del>299.99 €</del></sup></span>
                </div>
                <br>
                <div>
                    <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="card_button">Mas detalles</a>
                </div>

            </div>
        </div>
    </div>

    <h2>top product #3</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis tenetur aut sequi delectus molestias aperiam labore possimus? Obcaecati rerum voluptatibus rem, atque doloremque quia neque est provident nisi modi laborum fuga enim inventore quidem officia necessitatibus nam suscipit. Incidunt quam eveniet sapiente nostrum deserunt architecto numquam recusandae magnam. Id, omnis minima, veniam, culpa cumque blanditiis iste unde quam sequi non maxime. Itaque asperiores perferendis dignissimos officia assumenda odio non quam!
    </p>

    <div class="products-card">
            
        <div class="img">
            <img loading="lazy" src="/media/main/no-fotos.png" alt="">
        </div>
        
        <div class="description">
            <h4>
                <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow">
                product
                </a>
            </h4>

            <p>Características técnicas del cargador:</p>

            <ul>
                
                <li><b>Tensión:</b> Lorem, ipsum dolor.</li>
            
                <li><b>Potencia:</b> Lorem ipsum dolor sit.</li>
            
                <li><b>Intensidad:</b> Lorem, ipsum.</li>
            
                <li><b>Corriente:</b> Lorem ipsum dolor sit amet.</li>
            
                <li><b>Conector de carga disponible:</b> Lorem ipsum dolor sit amet consectetur.</li>
            
                <li><b>Largo del cable:</b> Lorem, ipsum dolor.</li>
                
            </ul>

            <div class="price">

                <div>
                    <span>150.50 € <sup><del>299.99 €</del></sup></span>
                </div>
                <br>
                <div>
                    <a id="ASIN" href="#" target="_blank" rel="noopener noreferrer nofollow" class="card_button">Mas detalles</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}